@using ModelProject.ViewModels.ViewModelIdentity
@model ChangeUserPasswordViewModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Login Page - Vuexy - Bootstrap HTML admin template</title>
    <link rel="apple-touch-icon" href="app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="app-assets/images/ico/Icon-Favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/extensions/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/pages/dashboard-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/plugins/charts/chart-apex.css">
    <link rel="stylesheet" type="text/css" href="app-assets/css/plugins/extensions/ext-component-toastr.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- END: Custom CSS-->
    <!-- END: Custom CSS-->
    <style>
        .mb-3{
            margin-bottom: 1rem !important;
        }

        .mb-4 {
            margin-bottom: 1.5rem !important;
        }

        .app-brand-text.demo{
            font-size: 1.375rem;
        }

        .app-brand{
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            overflow: hidden;
            line-height: 1;
            min-height: 1px;
            align-items: center;
        }
     </style>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body>
    <!-- BEGIN: Content-->
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y" style="justify-content: center;display: flex;">
            <div class="authentication-inner py-4" style="max-width: 400px; position: relative;width: 100%;">
                <!-- Reset Password -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center mt-2">
                            <img src="app-assets/images/logo/logo-v2.png" style="max-height: 45px; max-width: 150px;" />
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-1 pt-2">Change Password 🔒</h4>
                            @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "fv-plugins-bootstrap5 fv-plugins-framework", id = "formAuthentication" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(x => x.UserId);
                            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
                                    @Html.LabelFor(x => x.CurrentPassword, new{@class="form-label" })
                                <div class="input-group input-group-merge has-validation">
                                    @Html.TextBoxFor(x => x.CurrentPassword, new{@class="form-control", type="password",placeholder="············",id="password" })
                                    <span class="input-group-text cursor-pointer"><i class="fas fa-eye"></i></span>
                                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
                                    @Html.LabelFor(x => x.NewPassword, new{@class="form-label"})                              
                                <div class="input-group input-group-merge has-validation">
                                    @Html.TextBoxFor(x => x.NewPassword, new{@class="form-control", type="password",placeholder="············",id="confirm-password" })
                                    <span class="input-group-text cursor-pointer"><i class="fas fa-eye"></i></span>
                                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
                                @Html.LabelFor(x => x.ConfirmNewPassword, new{@class="form-label"})
                                <div class="input-group input-group-merge has-validation">
                                    @Html.TextBoxFor(x => x.ConfirmNewPassword, new{@class="form-control",type="password", placeholder="············",id="confirm-password" })
                                    <span class="input-group-text cursor-pointer"><i class="fas fa-eye"></i></span>
                                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                            <button type="submit" class="btn btn-primary d-grid w-100 mb-3 waves-effect waves-light">
                                Update password
                            </button>                                                 
                            }
                        <div class="text-center">
                            @Html.ActionLink("Back to Home", "Index", "Home") 
                        </div>
                    </div>
                </div>
                <!-- /Reset Password -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- BEGIN: Vendor JS-->
    <script src="app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="app-assets/js/core/app-menu.js"></script>
    <script src="app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="app-assets/js/scripts/pages/auth-login.js"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function () {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>